.intro {
    // .intro__inner
    &__inner {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
    }

    &__image {
        width: 44.5%;
        max-height:300px;
        height: auto;
        object-fit: contain;
        padding-top: 10px;
    }

    // .intro__content
    &__content {
        max-width: 55.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 10px;
    }

    // .intro__title
    &__title {
        color: $black;
        font-weight: 300;
        font-size: 3.8rem;;

        @media (max-width:767px) {
            font-size: 2.8rem;
        }

        @media (max-width:540px) {
            font-size: 2.2rem;
        }
    }

    // .intro__subtitle
    &__subtitle {
        padding-top: 14px;
        line-height: 1.4;;
        color: $black;
        font-weight: 300;
        font-size: 1.6rem;

        @media (max-width:767px) {
            padding-top: 7px;
            font-size: 1.4rem;
        }
        
        @media (max-width:540px) {
            font-size: 1.2rem;
        }
    }
}

