.map-scedule {
    display: inline-block;
    width: 100%;
    height: 500px;
    background-color: $modal-color;
    padding: 28px 22px 28px 27px;
    // .map-scedule__title
    &__title {
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 300;
        font-size: 3rem;
        padding-bottom: 20px;

        span {
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 3rem;
        }
    }

    // .map-scedule__plan
    &__plan {
        display: flex;
        flex-direction: column;
    }

    // .map-scedule__item
    &__item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 1.5rem;
        padding: 17px 0 11px 0;
        border-bottom: 1px dotted #fff;

        &:first-child {
            padding-top: 0;
        }
    }

    // .map-scedule__day
    &__day {
        background: url(../images/map/calendar.png) left no-repeat;
        padding-left: 25px;
        color: #fff;
    }

    // .map-scedule__hours
    &__hours {
        color: #fff;
    }


}


.map-sceduale {
    // .map-sceduale__text
    &__text {
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.4;
        padding: 19px 0 10px 0;
        color: #fff;
    }

    // .map-sceduale__enjoy
    &__enjoy {
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        font-style: italic;
    }
}

.map-scedule--position {
    position: absolute;
    top: 0;
    right: 3%;
    z-index: 10;
    width: 370px;

    @media (max-width: 991px) {
        width: 300px;
    }
    @media (max-width: 767px) {
        display: none;
    }
}

