// $blue: #00bff0;
$black: #111010;

// $blue-light: #72d0f4;
$black-light: rgb(39, 38, 38);

// $yellow: #ccff00;
$yellow: #c5ee60;

$red: #e25050;

// $modal-color: rgba(166, 177, 46, 0.7);
$modal-color: rgba(39, 38, 38, 0.7);

$input-color: rgba(208, 228, 129, 1);

$gray: #606060;
$gray-light: #f3f3f3;
$gray-text: #999c9e;


// @media (max-width:1200px) {
//     .container {
//         max-width: 970px;
//     }
// }

// @media (max-width:992px) {
//     .container {
//         max-width: 750px;
//     }
// }

// @media (max-width:767px) {
//     .container {
//         max-width: none;
//     }
// }

// @media (max-width:992px) {
//     .container {
//         max-width: 750px;
//     }
// }