@use "sass:math";
// Подключение міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - добавити при підключенні через плагін
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,300italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&display=swap);
// Підключити якщо існують локальні файли шрифтів
//@import "fonts/fonts";

// Підключити іконочні шрифти ==============================================================================================================================================================================================================================================================================
// Підключити якщо є файл іконочного шрифту
//@import "fonts/icons";

// Шрифт за замовчуванням ==============================================================================================================================================================================================================================================================================
$fontFamily: "Open Sans";
$fontSize: rem(14); // где 14(px) - 14 шрифт із макету за замовчуванням

//* Основные цвета
$mainColor: #000; // Колір за замовчуванням
$black: #111010;
$black-light: rgb(39, 38, 38);
$yellow: #c5ee60;
$red: #e25050;

$modal-color: rgba(39, 38, 38, 0.7);
$input-color: rgba(208, 228, 129, 1);

$gray: #606060;
$gray-light: #f3f3f3;
$gray-text: #999c9e;


// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
$minWidth: 320;
$maxWidth: 1500;
$maxWidthContainer: 1170;
$containerPadding: 24;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина спрацювання першого брейк-поінту
$containerWidth: $maxWidthContainer+$containerPadding;

// Брейк-поинты
$pc: em($containerWidth);  // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98);       // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98);       // Телефоны L
$mobileMedium: em(539.98); // Телефоны M
$mobileSmall: em(479.98);  // Телефоны S

// Онулення і загальні параметри ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	color: $yellow;

	// Скрол заблокований
	.lock & {
		overflow: hidden;
		touch-action: none;
	}

	// Сайт завантажений
	.loaded & {}
}

// Обгортка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	// overflow: hidden;
	background-color: #f3f3f3;

	// Прижимаем footer
	>main {
		flex: 1 1 auto;
	}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

// Обмежуючий контейнер ======================================================================================================================================================================================================================
// Стилі застосовуються до усіх класів *__container
// Сніпет (HTML): cnt
@if ($responsiveType==1) {

	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
}

@else {
	// По брейк-поінтам
	[class*="__container"] {
		margin: 0 auto;

		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		}

		@else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}

		@media (max-width: $pc) {
			max-width: rem(970);
		}

		@media (max-width: $tablet) {
			max-width: rem(750);
		}

		@media (max-width: $mobile) {
			max-width: none;

			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Підключення стилів загальних елементів
@import "common";

// Підключення окремих блоків
@import "header-intro";
@import "header";

@import "intro-home";
@import "live-stream";

@import "classes";
@import "membership-price";

@import "trainers";
@import "events";
@import "blog";

@import "galery";
@import "partner";

@import "schedule";

@import "twitter-box";

@import "footer";


//____________________
@import "intro";
@import "join";
@import "blog-page-score";



// Підключення окремих сторінок
@import "home";
@import "about";
@import "timetable";
@import "blog-page";
@import "blog-post";
@import "classes";
@import "classes-pilates";
@import "pricing";
@import "contacts";