//! TIMETABLE ===============
//!==========================

.filter {
   margin: 70px 0 50px;

   // .filter__item
   &__item {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: rem(30);
      text-transform: uppercase;
      color: $black;
      margin-right: rem(25);
      transition: border-bottom 0.2s linear;

      &:hover {
         border-bottom: 3px solid $black;
         width: 100%;
      }

      &:last-child {
         margin-right: 0;
      }
   }
}

.timetable {
   min-width: rem(800);
   margin: 0 auto;
   margin-bottom: rem(120);
   background-color: #fff;
   color: #777d76;

   th {
      font-size: rem(14);
      text-transform: uppercase;
      width: rem(145);
      height: rem(100);
      background-color: $black-light;
      color: $yellow;

      @media (max-width: 800px) {
         height: rem(50);
         font-size: rem(11);
      }

      &:first-child {
         background-color: rgb(57, 57, 57);
      }
   }

   &__row>td {
      background-color: #99e5f9;
      color: #fff;
   }

   td {
      height: rem(100);
      font-size: rem(12);
      line-height: 1.4;
      text-align: center;

      @media (max-width: 800px) {
         height: rem(50);
      }

      &:nth-child(odd) {
         background-color: rgba(0, 0, 0, 0.1);
      }

      &:first-child {
         background-color: $black;
         color: #fff;
      }
   }

   // td:first-child{
   //     position: absolute;
   //     top: 500px;
   //     left: 0;
   //     color: red;
   // }
}


.tbl-red {
   color: #ff8b8b;
}

.tbl-pink {
   color: #d97fe0;
}

.tbl-black {
   color: #81cae1;
}

.tbl-green {
   color: #5c9955;
}

.tbl-cyan {
   color: #55ccba;
}

div.scrollmenu {
   background-color: #333;
   overflow: auto;
   white-space: nowrap;
}


//! TRAINERS / EVENTS / BLOG ===============
//!=========================================
.timetable-3-elem {
   @include adaptiveValue("column-gap", 30, 0);
   display: grid;

   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;

   grid-template-areas: 
      "grid-trainers grid-events grid-blog";
   
   @media (max-width:$tablet){
      row-gap: rem(40);
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: 
         "grid-trainers grid-trainers"
         "grid-events grid-blog";
   }

   @media (max-width: 610px){
      row-gap: rem(30);
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas: 
         "grid-trainers"
         "grid-events"
         "grid-blog";
   }
}